/backend/.phpunit.cache
/*/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/pail
/backend/vendor
/backend/composer.lock
/*/.env
/*/.env.backup
/*/.env.production
/backend/.phpactor.json
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
/backend/auth.json
/*/.fleet
/*/.idea
/*/.nova
/*/.vscode
/*/.zed
/*/package-lock.json
